.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
  }
  .my-card{
    padding: 100px;
    width: 400px;
    display: block;
    justify-content: center;
    flex: 1;
    margin: auto;

  }
  .full-width {
    width: 100%;
  }
  .heading
{
  padding: 20px;
 
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.headingbar
{
 background-color: orangered;
 color: white;
}
.alert
{
  color: orangered;
}