<mat-toolbar class="headingbar"><div class="heading"><p>Reset password</p></div></mat-toolbar>

<div class="my-card">
<mat-card >
   <mat-card-content>
    <app-alert></app-alert>

      <form [formGroup]="resetpassform" (ngSubmit)="resetpassdone()"  class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput  placeholder="Email" name="email" value={{this.email}} [ngClass]="{ 'is-invalid': submitted && f.email.errors }" name="email" >
         </mat-form-field>
         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div  *ngIf="f.email.errors.required">Email is required</div>
      </div>
         <mat-form-field class="full-width" *ngIf="hide">
           <mat-label>Token</mat-label>
           <input formControlName="token" matInput [type]="hide ? 'password' : 'text'">
           <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
        </mat-form-field>
        <div *ngIf=" submitted && f.token.errors " class="invalid-feedback">
          <div class="alert" *ngIf="f.token.errors.required">Token is required</div>
      </div>
      <mat-form-field class="full-width" *ngIf="hide">
         <mat-label>New password</mat-label>
         <input formControlName="updatepassword" matInput [type]="hide ? 'password' : 'text'">
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
           <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       </button>
      </mat-form-field>
      <div *ngIf=" submitted && f.updatepassword.errors " class="invalid-feedback">
        <div class="alert" *ngIf="f.updatepassword.errors.required">Password is required</div>
    </div>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="resetpasstoken()"  color="primary">Get Verfication Code</button>
      <button mat-raised-button (click)="resetpassdone()" type="submit" color="primary">Verify</button>

   </mat-card-actions>
</mat-card></div>