
  
    <!-- <mat-toolbar-row class="sidenav">
        <span><a class="example-icon">Traficity</a></span>
      <a class="example-icon" [routerLink]="['login']" routerLinkActivate="active">Login</a>
      <a class="example-icon"  [routerLink]="['register']" routerLinkActivate="active">Register</a>
      <a class="example-icon"  [routerLink]="['resetpassword']" routerLinkActivate="active">Reset Password</a>

    </mat-toolbar-row> -->
   
     <!-- <app-login></app-login> -->
     <!-- <app-register></app-register> -->

  
 
 
   
 
 