.chart-container {
  position: relative;
  margin: auto;

 
}
  
  .chartcontent
  { 
    text-align: center;
    position:relative; 

    float: left;
    padding: 10px;
    width: 33.33%;
  }
  * {
    box-sizing: border-box;
  }
  .subcard
  { float: left;
    padding: 6px;
    width: 25%;
  }
  .roadstatcard:after
  {

  content: "";
  display: table;
  clear: both;
  width: 100%;
  }


  .topbar
  {  
    color: rgb(27, 26, 26);
    top: 0;
    height: 30px;
    font-size: 12;
    padding: 10px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .statisticview
  {
padding: 5px;
  }
  .chartbgcolor
  {
    background-color: rgb(255, 255, 255);
  }
  .matcard{
width: inherit;
  }
  .divider
  {
    padding: 5px;
  }
  .hourrlygraph
{    background-color: rgb(233, 231, 231);
    padding: 10px;
   
  }