.headingabout
{
    background-color: #ff3d00;
    text-align: center;
    justify-content: right;
    font-size: 24px;
    color: #ffffff;
    
}

.closebtn
{
 color: #ff3d00;
 justify-content: flex-end;
}
.avgtraveltime
{
  font: x-small 10px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: gray;
  font-family: monospace;
  font-style: normal;
  font-size: 12px;
}

.fontforminutes
{
  font: x-small 10px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
  
  font-family: monospace;
  font-style: normal;
  font-size: 14px;
}
.mat-dialog-actions {
  justify-content: flex-end;
}